@use "./base" as *;

// Drop down meny för kommande dagar
#kommande-dagar-container {
  display: none;
}

#kommande-dagar-container.open {
  display: block;
}

h1 {
    margin-top: 0;
    font-size: 4rem;
    text-shadow: $text-shadow;
}